Flask==0.10.1
Flask-Assets==0.9
Flask-SQLAlchemy==1.0
Flask-WTF==0.9.5
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.9.4
WTForms==1.0.5
Werkzeug==0.9.6
cssmin==0.2.0
itsdangerous==0.24
jsmin==2.0.9
pytz==2014.4
webassets==0.9
wsgiref==0.1.2
