<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app='angularApp' xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />    
        <link rel="shortcut icon" href="/static/images/winery_bowl_small.jpg">
        <title>Admin Panel</title>

        {% assets "base_css" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
        {% endassets %}
        {% assets "admin_css" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
        {% endassets %}

        <!-- Google fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans|Raleway' rel='stylesheet' type='text/css'>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <script type="text/javascript">
            var csrftoken = '{{ csrf_token() }}';
            var imagesBase = '{{g.images_base }}';
            var staticBase = '{{g.static_base }}';
        </script>
        {% block head%}{% endblock %}
    </head>
    <body id="kateheddleston-wrap">
        {% if g.current_user.is_authenticated() %}
        <nav class="navbar container-fluid navbar-static-top navbar-default" role="navigation">
            <div class='container-fluid'>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-target">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="nav-target">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="{% if g.nav_view == 'talks' %}active{% endif %}"><a href="{{g.app_base_link}}/admin/talks">Talks</a></li>
                        <li class="{% if g.nav_view == 'galleries' %}active{% endif %}"><a href="{{g.app_base_link}}/admin/galleries">Galleries</a></li>
                    </ul>
                    <ul class='nav navbar-nav navbar-right'>
                        <li><a href="{{g.app_base_link}}/logout">Logout</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>
        {% endif %}
        <div class='container-fluid main-content'>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class='flashes'>
                    {% for category, message in messages %}
                        <div class='alert alert-{{category}}'>{{ message }}</div>
                    {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
        <div class='footer'>
            <div class='container-fluid'>
            </div>
        </div>
        {% assets "admin_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% block script %}
        {% endblock %}
    </body>
</html>
