<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app='angularApp' xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
        <link rel="shortcut icon" href="{{g.images_base}}/images/winery_bowl_small.jpg">
        <title>Admin Panel</title>

        {% assets "base_css" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
        {% endassets %}
        {% assets "admin_css" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
        {% endassets %}

        <!-- Google fonts -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans|Raleway' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        {% block head%}{% endblock %}
    </head>
    <body id="kateheddleston-wrap">
        {% if g.current_user.is_authenticated %}
        <div class="navbar-custom container-fluid {%if g.nav_view!='home'%}white-background{%endif%}" id="nav-target">
          <div class='navbar-header'>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-nav-button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class='brand brand-top pull-left'>
              <div class='logo'>
                <a href="{{g.app_base_link}}/">
                  <img src="{{g.images_base}}/images/binary_logo.png">
                </a>
              </div>
              <!--<p class='name'>Kate Heddleston</p>-->
            </div>
          </div>
          <div class="collapse navbar-collapse" id="mobile-nav-button">
            <div class='navbar-text pull-left'>
              <ul class="nav navbar-nav">
                  <li class="{% if g.nav_view == 'talks' %}active{% endif %}"><a href="{{g.app_base_link}}/admin/talks">Talks</a></li>
                  <li class="{% if g.nav_view == 'galleries' %}active{% endif %}"><a href="{{g.app_base_link}}/admin/galleries">Galleries</a></li>
                  <li class="{% if g.nav_view == 'subscribers' %}active{% endif %}"><a href="{{g.app_base_link}}/admin/subscribers">Subscribers</a></li>
                  <li class="{% if g.nav_view == 'users' %}active{% endif %}"><a href="{{g.app_base_link}}/admin/users">Users</a></li>
              </ul>
            </div>
            <div class='navbar navbar-text pull-right'>
              <ul class='nav navbar-nav'>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{g.current_user.email}} <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="{{g.app_base_link}}/admin/users/{{g.current_user.uuid}}">Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="{{g.app_base_link}}/logout">Logout</a></li>
                      </ul>
                  </li>
              </ul>
            </div>
          </div><!-- /.navbar-collapse -->
        </div>
        {% endif %}
        <div class='container-fluid main-content'>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class='flashes'>
                    {% for category, message in messages %}
                        <div class='alert alert-{{category}}'>{{ message }}</div>
                    {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
            <div id="popup">
                {% block popup %}{% endblock %}
            </div>
        </div>
        <div class='footer'>
            <div class='container-fluid'>
            </div>
        </div>

        <script type="text/javascript">
            var csrftoken = '{{ csrf_token() }}';
            var imagesBase = '{{g.images_base }}';
            var staticBase = '{{g.static_base }}';
        </script>
        {% assets "base_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% assets "angular_admin_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% assets "admin_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% block script %}
        {% endblock %}
    </body>
</html>
