{% extends "admin/admin_base.html" %}
{% block content %}
    <div class='edit_panel edit_gallery ng-cloak' ng-controller='EditGalleryController' ng-cloak>
        <nav class="navbar navbar-inverse">
            <div class='container-fluid'>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".gallery-item-header">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse gallery-item-header">
                    <form class='navbar-form navbar-left'>
                        <button class='btn btn-default navbar-btn form-control' ng-show='!editing' ng-click='editGallery()'>Edit</button>
                        <button class='btn btn-default navbar-btn form-control' ng-show='editing' ng-click='cancel()'>Cancel</button>
                        <button class='btn btn-success navbar-btn form-control' ng-click='updateGallery(false)' ng-show='editing'>Save</button>
                    </form>
                    <form class='navbar-form navbar-right'>
                        <a class='btn btn-default navbar-btn form-control' target="_blank" href="/blog/{[{gallery.url_title}]}">Preview</a>
                        <button class='btn btn-success navbar-btn form-control' ng-show='!published && !editing' ng-click='publishGallery()'>Publish</button>
                        <button class='btn btn-warning navbar-btn form-control' ng-show='published && !editing' ng-click='unpublishGallery()'>Unpublish</button>
                        <button class='btn btn-danger navbar-btn form-control' ng-click='deleteGallery()'>Delete</button>
                        <button class='btn btn-info navbar-btn form-control send-emails' ng-show='published' data-loading-text="Sending..." ng-click='sendEmails()'>Send Emails</button>
                    </form>
                </div>
            </div>
        </nav>
        <div class='row'>
            <div class='col-md-3'>
            </div>
            <div class='col-md-6'>
                <div class='row'>
                    <div class='col-md-12 text-center cover-image'>
                        <img ng-if='coverPhoto' style='width:100%' ng-src="{[{gallery.base_url}]}/{[{coverPhoto}]}_small" />
                        <img ng-if='!coverPhoto' style='width:100%' ng-src="{{g.images_base}}/images/no-image.png" />
                        <input type="text" placeholder='Cover Photo' class="form-control" name="cover_photo" ng-show='editing' ng-model='coverPhoto'>
                    </div>
                </div>
                <div class="row text-center">
                    <div class='col-md-12'>
                        <div class='margin-top-10'>
                            <h1 class='deep-pink' ng-bind-html='gallery.name' ng-show='!editing'></h1>
                            <input type='text' placeholder='Name' class='form-control' name='name' ng-model='name' ng-show='editing'/>
                        </div>
                        <div class='margin-top-10'>
                            <h3 class="" ng-bind='subtitle' ng-show='!editing'></h3>
                            <input type='text' placeholder='Subtitle' class='form-control' name='subtitle' ng-model='subtitle' ng-show='editing'/>
                        </div>
                        <div class='margin-top-10'>
                            <h5 class='panel-title' ng-bind='author' ng-show='!editing'></h5>
                            <input type='text' placeholder='Author' class='form-control' name='author' ng-model='author' ng-show='editing'/>
                        </div>
                    </div>
                </div>
                <div class='row gallery-item-buttons'>
                    <div class='col-md-12'>
                    </div>
                </div>
            </div>
            <div class='col-md-3'>
                <h3 class='text-center margin-top-20 large'>Word Count:<br><span class='deep-pink' ng-bind='wordCount()'></span></h3>
                <div class='add-category margin-top-20'>
                    <select class='form-control' ng-model='newCategory' ng-change='addCategory(newCategory)' ng-options="category.name for category in currentCategories()">
                        <option value=''>- Add Category -</option>
                    </select>
                </div>
                <div class='label label-default margin-top-10 margin-r-20 category-label' ng-repeat='category in gallery.gallery_categories'>
                    <span ng-bind='category.name'></span>
                    <a class='margin-l-10' href='#' ng-click='removeCategory(category)'>X</a>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-9'>
            </div>
            <div class='col-md-3'>
                <form class='form form-vertical'>
                    <button class='btn btn-primary form-control' ng-click='addNewItem(item.position)'>Add Item After</button>
                </form>
            </div>
        </div>
        <div class='item gallery_item' ng-class='item.dead ? "dead" : ""' ng-repeat='galleryItem in items' ng-controller="GalleryItemController" ng-init='init("galleries/" + gallery_uuid, galleryItem)'>
            <nav class="navbar navbar-default">
                <div class='container-fluid'>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".gallery-item-{[{item.uuid}]}">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="text-center collapse navbar-collapse gallery-item-{[{item.uuid}]}">
                        <form class='navbar-form navbar-left'>
                            <div class='form-group'>
                                <select class='form-control navbar-btn' ng-model='item.position' ng-change='updateItemPosition(item.position)' ng-options="num for num in itemsArrayLength()">
                                </select>
                            </div>
                            <button class='btn btn-success navbar-btn form-control' ng-click='updateGalleryItem()' ng-show='item.editing'>Save</button>
                            <button class='btn btn-default navbar-btn form-control' ng-click='item.editing=false' ng-show='item.editing'>Cancel</button>
                            <button class='btn btn-default navbar-btn form-control' ng-click='item.editing=true' ng-show='!item.editing'>Edit</button>
                        </form>
                        <button class='add-image-button' ng-show="gallery_uuid" ng-file-select="onFileSelect($files)" accept="image/*">
                            <i class='fa fa-plus'></i>
                            <span ng-if='item.image_name'>Change Image</span>
                            <span ng-if='!item.image_name'>Add Image</span>
                        </button>
                        <form class='navbar-form navbar-right'>
                            <button class='btn btn-warning navbar-btn form-control' ng-click='killGalleryItem(true)' ng-show='!item.dead'>Kill</button>
                            <button class='btn btn-info navbar-btn form-control' ng-click='killGalleryItem(false)' ng-show='item.dead'>Resurrect</button>
                            <button class='btn btn-danger navbar-btn form-control' ng-click='deleteGalleryItem()'>Delete</button>
                        </form>
                    </div>
                </div>
            </nav>
            <div class='row'>
                <div class='col-md-3'>
                </div>
                <div class='col-md-6'>
                    <div class='row'>
                        <div class='col-md-12 text-center info caption'>
                            <h3 class='deep-pink' ng-show='!item.editing' ng-bind='item.title'></h3>
                            <input type='text' placeholder='Title' class='form-control' name='title' ng-model='item.title' ng-show='item.editing'/>
                        </div>
                    </div>
                    <div class='row item-image'>
                        <div class='col-md-12 text-center'>
                            <div class='alert alert-warning' role='alert' ng-show='error'>
                                <button type="button" class="close" ng-click="toggleAlert(false, '', '')"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <span class='message' ng-bind='alertMessage'></span>
                            </div>
                            <div ng-show='!generatingSizes'>
                                <img ng-if='item.image_name' style='width:100%' ng-src="{[{gallery.base_url}]}/{[{item.image_name}]}_small" alt='{[{item.image_alt}]}'/>
                            </div>
                            <div class='loading image-loader' ng-show='generatingSizes'>
                                <img src="{{g.images_base}}/images/loading.gif" />
                            </div>
                            <div class='loading progress-loader margin-top-10' ng-show='loading'>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{[{percent}]}" aria-valuemin="0" aria-valuemax="100" ng-style="widthStyle">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <p ng-bind='item.image_alt'></p>
                                <p><em ng-show='!item.editing' ng-bind-html='item.image_caption'></em></p>
                                <input type="text" placeholder='Image Name' class="form-control" name="image" ng-show='item.editing' ng-model='item.image_name'>
                                <input type='text' placeholder='Image Alt Text' class='form-control' name='image_alt' ng-show='item.editing' ng-model='item.image_alt' />
                                <input type='text' placeholder='Image Caption' class='form-control' name='image_caption' ng-show='item.editing' ng-model='item.image_caption' />
                            </div>
                            <div>
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-md-12'>
                            <div class='item-body'>
                                <p ng-show='!item.editing' ng-bind-html='item.body'></p>
                                <textarea rows=6 placeholder='Item body' class='form-control' name='body' ng-show='item.editing' ng-model='item.body'></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-md-3'>
                    {% include "admin/gallery_comments.html" %}
                </div>
            </div>
            <div class='row'>
                <div class='col-md-9'>
                </div>
                <div class='col-md-3'>
                    <form class='form form-vertical'>
                        <button class='btn btn-primary form-control' ng-click='addNewItem(item.position)'>Add Item After</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    {% assets "admin_galleries_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script type='text/javascript'>
        var policy = '{{policy}}';
        var signature = '{{signature}}';
        var accessKey = '{{accessKey}}';
        var galleryUUID = '{{gallery_uuid}}';
    </script>
{% endblock %}
