{% extends "admin/admin_base.html" %}
{% block head %}
  {% assets "talk_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}
{% block content %}
    <div class='row edit_panel ng-cloak' ng-controller='EditTalkController' ng-cloak>
        <div class='panel' ng-class='published ? "panel-success" : "panel-default"'>
            <div class="panel-heading">
                <div class='row'>
                    <div class='col-md-6'>
                        <h3 class="panel-title" ng-bind='title' ng-show='!editing'></h3>
                        <input type="text" placeholder='Title' class="form-control" ng-show='editing' ng-model='title'>

                        <p ng-show='!editing'><small class='subheader'><span ng-bind='date'></span> - <span ng-bind='location'></span></small></p>
                        <p ng-show='editing'><small class='subheader'><input type="text" placeholder='Date: Month Day, Year' class="form-control" ng-model='date'> - <input type="text" placeholder='Location' class="form-control" ng-model='location'></span></small></p>
                    </div>
                    <div class='col-md-6 text-right'>
                        <button class='btn btn-default' ng-show='!editing' ng-click='editTalk()'>Edit</button>
                        <button class='btn btn-success' ng-show='editing' ng-click='updateTalk()'>Save</button>
                        <button class='btn btn-default' ng-show='editing' ng-click='cancel()'>Cancel</button>
                        <button class='btn btn-warning' ng-show='!published && !editing' ng-click='publishTalk()'>Publish</button>
                        <button class='btn btn-success' ng-show='published && !editing' ng-click='unpublishTalk()'>Unpublish</button>
                        <button class='btn btn-danger' ng-click='deleteTalk()'>Delete</button>
                    </div>
                </div>
            </div>
            <div class='panel-body talk-body'>
                <div class='row'>
                    <div class='col-md-4 text-center' ng-controller='UploadImageController' ng-init='init("talks/" + talk_uuid, talk)'>
                        <img ng-if='item.image_name' ng-show='!generatingSizes' ng-src="{[{talk.base_url}]}/{[{item.image_name}]}" />
                        <img ng-if='!item.image_name' ng-show='!generatingSizes' ng-src="{{g.images_base}}/images/no_image.png" />
                        <div class='loading' ng-show='generatingSizes' style='margin:20px auto 0;width:60%'>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{[{percent}]}" aria-valuemin="0" aria-valuemax="100" ng-style="widthStyle">
                                </div>
                            </div>
                        </div>
                        <input type="text" placeholder='Image Name' class="form-control" ng-show='editing' ng-model='item.image_name'>
                        <div class='alert alert-warning' role='alert' ng-show='error'>
                            <button type="button" class="close" ng-click="toggleAlert(false, '', '')"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <span class='message' ng-bind='alertMessage'></span>
                        </div>
                        <button class='add-image-button' ng-show="talk_uuid" ng-file-select="onFileSelect($files)" accept="image/*">
                            <i class='fa fa-plus'></i>
                            <span ng-if='item.image_name'>Change Image</span>
                            <span ng-if='!item.image_name'>Add Image</span>
                        </button>
                    </div>
                    <div class='col-md-8'>
                        <div class='video_display thumbnail'>
                            <span ng-bind-html='trustHTML(videoLink)'></span>
                            <input type='text' placeholder='Video HTML' class='form-control' ng-show='editing' ng-model='videoLink' />
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-4'>
                        <a target="_blank" ng-show='!editing' ng-href="{[{descriptionLink}]}">Talk Description</a>
                        <input type="text" placeholder='Talk Description Link' class="form-control" ng-show='editing' ng-model='descriptionLink'>
                        </br>
                        <a ng-show='!editing' ng-href='{[{slidesLink}]}'>Slides</a>
                        <input type="text" placeholder='Slide Link' class="form-control" ng-show='editing' ng-model='slidesLink'>
                    </div>
                    <div class='col-md-8'>
                        <div>
                            <p ng-show='!editing' ng-bind='description'></p>
                            <textarea rows=4 placeholder='Description...' class='form-control' ng-show='editing' ng-model='description'></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class='panel-footer text-right'>
                <button class='btn btn-default' ng-show='!editing' ng-click='editTalk()'>Edit</button>
                <button class='btn btn-success' ng-show='editing' ng-click='updateTalk()'>Save</button>
                <button class='btn btn-default' ng-show='editing' ng-click='cancel()'>Cancel</button>
                <button class='btn btn-warning' ng-show='!published && !editing' ng-click='publishTalk()'>Publish</button>
                <button class='btn btn-success' ng-show='published && !editing' ng-click='unpublishTalk()'>Unpublish</button>
                <button class='btn btn-danger' ng-click='deleteTalk()'>Delete</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    {% assets "admin_talks_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script type='text/javascript'>
        var policy = '{{policy}}';
        var signature = '{{signature}}';
        var accessKey = '{{accessKey}}';
        var talkUUID = '{{talk_uuid}}';
    </script>
{% endblock %}
