{% extends "admin/admin_base.html" %}
{% block head %}
  {% assets "post_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
  {% assets "talk_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}
{% block content %}
    <div class='row edit_panel ng-cloak' ng-controller='EditTalkController' ng-cloak>
        <nav class="navbar navbar-inverse">
            <div class='container-fluid'>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".gallery-item-header">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse gallery-item-header">
                    <form class='navbar-form navbar-left'>
                        <button class='btn btn-default navbar-btn form-control' ng-show='!editing' ng-click='editTalk()'>Edit</button>
                        <button class='btn btn-success navbar-btn form-control' ng-show='editing' ng-click='updateTalk()'>Save</button>
                        <button class='btn btn-default navbar-btn form-control' ng-show='editing' ng-click='cancel()'>Cancel</button>
                    </form>
                    <form class='navbar-form navbar-right'>
                        <a class='btn btn-default navbar-btn form-control' target="_blank" href="/talk/{[{talk.uuid}]}">Preview</a>
                        <button class='btn btn-warning navbar-btn form-control' ng-show='!published && !editing' ng-click='publishTalk()'>Publish</button>
                        <button class='btn btn-success navbar-btn form-control' ng-show='published && !editing' ng-click='unpublishTalk()'>Unpublish</button>
                        <button class='btn btn-danger navbar-btn form-control' ng-click='deleteTalk()'>Delete</button>
                    </form>
                </div>
            </div>
        </nav>
        <div class='talk-body talk-item'>
            <div class='title-section post-section name'>
                <h1 class="deep-pink" ng-bind='title' ng-show='!editing'></h1>
                <input type="text" placeholder='Title' class="form-control" ng-show='editing' ng-model='title'>
            </div>
            <div class='row'>
                <div class='col-md-12 text-center' ng-controller='UploadImageController'>
                    <img ng-if='talk.image_name' ng-show='!generatingSizes' ng-src="{[{talk.base_url}]}/{[{talk.image_name}]}" />
                    <img ng-if='!talk.image_name' ng-show='!generatingSizes' ng-src="{{g.images_base}}/images/no_image.png" />
                    <div class='loading' ng-show='generatingSizes' style='margin:20px auto 0;width:60%'>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{[{percent}]}" aria-valuemin="0" aria-valuemax="100" ng-style="widthStyle">
                            </div>
                        </div>
                    </div>
                    <input type="text" placeholder='Image Name' class="form-control" ng-show='editing' ng-model='talk.image_name'>
                    <div class='alert alert-warning' role='alert' ng-show='error'>
                        <button type="button" class="close" ng-click="toggleAlert(false, '', '')"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <span class='message' ng-bind='alertMessage'></span>
                    </div>
                    <button class='add-image-button' ng-show="talk_uuid" ng-file-select="onFileSelect($files)" accept="image/*">
                        <i class='fa fa-plus'></i>
                        <span ng-if='talk.image_name'>Change Image</span>
                        <span ng-if='!talk.image_name'>Add Image</span>
                    </button>
                </div>
            </div>
            <div>
                <div class='video-section talk_video flex-video widescreen'>
                    <span ng-bind-html='trustHTML(videoLink)'></span>
                </div>
                <input type='text' placeholder='Video HTML' class='form-control' ng-show='editing' ng-model='videoLink' />
            </div>
            <div class='talk-footer'>
                <div class='links text-center'>
                    <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12 icon pull-left border-right'>
                        <span ng-show='!editing' class='icon-wrapper'>
                            <i class='fa fa-map-marker'></i>
                            <span ng-bind='location'></span>
                            ,&nbsp;&nbsp;
                            <span ng-bind='date'></span>
                        </span>
                        <form class='form form-inline' ng-show='editing'>
                            <input type="text" placeholder='Location' class="form-control" ng-model='location'>
                            ,&nbsp;&nbsp;
                            <input type="text" placeholder='Date: Month Day, Year' class="form-control" ng-model='date'>
                        </form>
                    </div>
                    <div class='icon col-md-3 col-lg-3 col-sm-4 col-xs-6 pull-left border-right'>
                        <a class='icon-wrapper' ng-show='!editing && slidesLink' ng-href='{[{slidesLink}]}'><i class='fa fa-external-link'></i>Slides</a>
                        <input type="text" placeholder='Slide Link' class="form-control" ng-show='editing' ng-model='slidesLink'>
                    </div>
                    <div class='icon col-md-3 col-lg-3 col-sm-4 col-xs-6 pull-left border-right'>
                        <a class='icon-wrapper' target="_blank" ng-show='!editing && descriptionLink' ng-href="{[{descriptionLink}]}"><i class='fa fa-external-link'></i>Description</a>
                        <input type="text" placeholder='Talk Description Link' class="form-control" ng-show='editing' ng-model='descriptionLink'>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    {% assets "admin_talks_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script type='text/javascript'>
        var policy = '{{policy}}';
        var signature = '{{signature}}';
        var accessKey = '{{accessKey}}';
        var talkUUID = '{{talk_uuid}}';
    </script>
{% endblock %}
