{% extends "admin/admin_base.html" %}
{% block content %}
    <div ng-controller='GalleriesCtrl'>
        <div id='create_gallery' class='modal fade'>
          <div class="modal-dialog">
            <div class="modal-content">
              <form class=''>
                <div class='modal-body'>
                  <div class="form-group">
                      <input type="text" class="form-control" name="name" ng-model='newName' placeholder='Gallery Name'>
                      <input type="text" class="form-control" name="name" ng-model='newAuthor' placeholder='Gallery Author'>
                      <input type="text" class="form-control" name="cover_photo" ng-model='newCoverPhoto' placeholder='Gallery Cover Photo'>
                  </div>
                  <div class='gallery-items'>
                    <div class='new-items' ng-repeat='item in newItems'>
                      <div class="form-group">
                          <input type='text' class='form-control' name='title' ng-model='item.title' placeholder='Item title'>
                      </div>
                      <div class="form-group">
                          <textarea rows=4 class='form-control' name='body' ng-model='item.body' placeholder='Text Body'></textarea>
                      </div>
                      <div class="form-group">
                          <input type="text" class="form-control" name="image" ng-model='item.image_link' placeholder='Image Link'>
                      </div>
                    </div>
                    <button ng-click='addNew()' class='btn btn-primary'>Add Item</button>
                  </div>
                  <div class='modal-footer'>
                    <button class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" ng-click='createGallery()' class="btn btn-success">Create Gallery</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div>
          <button data-target='#create_gallery' data-toggle='modal' type='submit' class='btn btn-success'>Create Gallery</button>
        </div>

        <div class='row edit_panel' ng-repeat='gallery in galleries' ng-controller='GalleryCtrl' ng-init='init(gallery)'>
            <div class='panel' ng-class='published ? "panel-success" : "panel-default"'>
                <div class="panel-heading">
                    <h3 class="panel-title" ng-bind='name' ng-show='!editing'></h3>
                    <input type='text' placeholder='Name' class='form-control' name='name' ng-model='name' ng-show='editing'/>
                    <h5 class='panel-title' ng-bind='author' ng-show='!editing'></h3>
                    <input type='text' placeholder='Author' class='form-control' name='author' ng-model='author' ng-show='editing'/>
                </div>
                <div class='panel-body'>
                    <div class='row'>
                      <div class='col-md-6'>
                        <img style='width:100%' ng-src="{[{coverPhoto}]}" />
                        <input type="text" placeholder='Cover Photo' class="form-control" name="cover_photo" ng-show='editing' ng-model='coverPhoto'>
                      </div>
                    </div>
                </div>
                <div class='panel-footer text-right'>
                    <a class='btn btn-default' href="/admin/gallery/{[{gallery.uuid}]}">Edit</a>
                    <button class='btn btn-default' ng-show='!published && !editing' ng-click='publishGallery()'>Publish</button>
                    <button class='btn btn-default' ng-show='published && !editing' ng-click='unpublishGallery()'>Unpublish</button>
                    <button class='btn btn-danger' ng-click='deleteGallery()'>Delete</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
  <script type='text/javascript'>
    $(document).ready(function() {
      $('#create_gallery').modal();
    });
  </script>
{% endblock %}
