{% extends "admin/admin_base.html" %}
{% import "top_navbar.html" as navbar with context %}
{% import "bottom_icon.html" as icon with context %}
{% block head %}
  {% assets "comment_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
  {% assets "post_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
  {% assets "header_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}
{% block content %}
<div class='gallery-item' ng-controller='PostController' ng-init='init({{post_json}})'>
  <div class='header'>
    <div class='links text-center'>
      <div class='prev-link'>
        <a href="/admin/gallery/{{ post.uuid }}">&larr;Back</a>
      </div>
    </div>
  </div>
  <div class='gallery-content'>
    <div class='post-section name text-center' ng-style='browserHeight()'>
      <h1 class='deep-pink' ng-bind-html='name'></h1>
      <h5 ng-bind='author'></h5>
    </div>
    {% include "post_sections.html" %}
  </div>
  {% include "left_nav.html" %}
</div>
{% endblock %}
{% block script %}
  {% assets "post_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}
