{% extends "admin/admin_base.html" %}
{% block head %}
  {% assets "post_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}
{% block content %}
<div class='gallery-item' ng-controller='PostController'>
  <div class='header'>
    <div class='links text-center'>
      <div class='prev-link'>
        <a href="/admin/gallery/{[{ gallery.uuid }]}">&larr;Back</a>
      </div>
    </div>
  </div>
  <div class='gallery-content'>
    {% include "header_slide.html" %}
    {% include "post_sections.html" %}
  </div>
  {% include "left_nav.html" %}
</div>
{% endblock %}
{% block script %}
  {% assets "post_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  <script type='text/javascript'>
    var galleryUUID = '{{gallery_uuid}}';
    $(window).scroll(function() {
      var position = $('body').scrollTop();
      if(position <= 50) {
        $('.down_arrow').show();
      } else {
        $('.down_arrow').hide();
      }
    });
  </script>
{% endblock %}
