{% extends "admin/admin_base.html" %}
{% block content %}
<div class='subscriptions' ng-controller='AdminSubscriptionController'>
    <div class='subscription-status row text-center'>
        <div class='col-md-4'>
            <h1>Total Subscribers</h1>
            <h2 class='deep-pink' ng-bind="activeSubscribers.length"></h2>
        </div>
        <div class='col-md-4'>
            <h1>Unverified</h1>
            <h2 class='deep-pink' ng-bind="unverifiedSubscribers.length"></h2>
        </div>
        <div class='col-md-4'>
            <h1>Unsubscribed</h1>
            <h2 class='deep-pink' ng-bind="unsubscribed.length"></h2>
        </div>
    </div>
    <table class='table'>
        <tr class='subscriptions-header'>
            <th>UUID</th>
            <th>Verification Token</th>
            <th>Name</th>
            <th>Email</th>
            <th>Active</th>
            <th>Created</th>
            <th>Verified</th>
            <th>Categories</th>
        </tr>
        <tr ng-repeat='subscription in subscriptions' class='{[{user.uuid}]} subscription' ng-class='{dead: subscription.dead}'>
            <td ng-bind='subscription.uuid'></td>
            <td ng-bind='subscription.email_verification_token'></td>
            <td ng-bind='subscription.name'></td>
            <td ng-bind='subscription.email'></td>
            <td>
                <i ng-show='!subscription.dead && subscription.verified' class='fa fa-check'></i>
            </td>
            <td ng-bind='subscription.created_at'></td>
            <td>
                <button class='btn btn-default verify' ng-show='!subscription.verified && !subscription.dead' ng-click='sendVerificationEmail(subscription)' data-loading-text='Sending...'>Re-Send Verification</button>
                <i ng-show='subscription.verified' class='fa fa-check'></i>
            </td>
            <td class='subscription-categories'>
                <div ng-repeat='category in categories'>
                    <input class='margin-r-10 pointer' type='checkbox' ng-checked='hasCategory(subscription, category) >= 0' ng-click='toggleCategory(subscription, category)' />
                    <label class='pointer' ng-click='toggleCategory(subscription, category)' ng-bind='category.name'></label>
                </div>
            </td>
        </tr>
    </table>
</div>
{% endblock %}
{% block script %}
    {% assets "admin_subscriptions_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
