{% extends "admin/admin_base.html" %}
{% block head %}
  {% assets "tiles_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}
{% block content %}
<div ng-controller='AdminTalksController' class='ng-cloak' ng-cloak>
    <nav class="navbar navbar-inverse admin-navbar">
        <div class='container-fluid'>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#talk-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="talk-navbar">
                <ul class="nav navbar-nav navbar-left">
                    <li ng-click='changeTab("unpublished")' ng-class="currentContainer == '.unpublished' ? 'active' : 'inactive'">
                        <a>Unpublished &#40;<span ng-bind='items.unpublished.length'></span>&#41;</a>
                    </li>
                    <li ng-click='changeTab("published")' ng-class="currentContainer == '.published' ? 'active' : 'inactive'">
                        <a>Published &#40;<span ng-bind='items.published.length'></span>&#41;</a>
                    </li>
                    <li ng-click='changeTab("archived")' ng-class="currentContainer == '.archived' ? 'active' : 'inactive'">
                        <a>Archived &#40;<span ng-bind='items.archived.length'></span>&#41;</a>
                    </li>
                </ul>
                <form class='navbar-form navbar-right'>
                    <a href="/admin/talk" type='submit' class='btn btn-default navbar-btn form-control'>Create Talk</a>
                </form>
            </div>
        </div>
    </nav>
    <div class='loading main-loader'>
        <img src="{{g.images_base}}/images/loading.gif" />
    </div>
    <div ng-repeat='(itemsName, talks) in items'>
        <div id="container" class="js-masonry" ng-class='itemsName' style='display:none'>
            <div class='item w4' ng-repeat='talkInfo in talks' ng-controller='MiniEditTalkController' ng-init='initTalk(talkInfo)'>
                <div class='blog_item w4'>
                    <img ng-if='talk.image_name' ng-src="{[{talk.base_url}]}/{[{talk.image_name}]}" alt='No image'/>
                    <img ng-if='!talk.image_name' ng-src="{{g.images_base}}/images/no_image.png" alt='No image'/>
                    <div class='blog_item_footer'>
                        <div class='info caption footer-title'>
                            <h4 ng-bind='talk.title'></h4>
                        </div>
                        <div class='info-icons'>
                            <div class='row'>
                                <div class='col-md-6 date'>
                                    <i class='fa fa-clock-o'></i>
                                    <span ng-bind='talk.date'></span>
                                </div>
                                <div class='col-md-6'>
                                </div>
                            </div>
                        </div>
                        <div class='row buttons'>
                            <div class='col-md-12 text-right'>
                                <a class='btn btn-default' href="/admin/talk/{[{talk.uuid}]}">Edit</a>
                                <button class='btn btn-warning' ng-show='!talk.published && !talk.archived' ng-click='publishTalk(true)'>Publish</button>
                                <button class='btn btn-success' ng-show='talk.published' ng-click='publishTalk(false)'>Unpublish</button>
                                <button class='btn btn-primary' ng-show='!talk.published && !talk.archived' ng-click='archiveTalk(true)'>Archive</button>
                                <button class='btn btn-default' ng-show='talk.archived' ng-click='archiveTalk(false)'>Unarchive</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    {% assets "admin_talks_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
  {% assets "blog_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}
