/* About style elements CSS
-------------------------------------------------- */

#kateheddleston-wrap #about_page .header.pagination {
  top:0;
  color:#fff;
}

#kateheddleston-wrap #about_page .header.pagination .pagination-inner {
  color:#fff;
}

#kateheddleston-wrap #about_page .header.pagination .pagination-inner {
  height:50px;
}

