/* Admin page CSS
-------------------------------------------------- */

#kateheddleston-wrap .gallery-items .new-items {
  border-top:1px solid #eaeaea;
  padding-top:10px;
}

.center {
    display:table;
    margin:0 auto;
}

#kateheddleston-wrap .blog_item.success {
  border:3px solid #5cb85c;
}

#kateheddleston-wrap .blog_item.default {
  border:3px solid #eaeaea;
}

#kateheddleston-wrap .gallery_item {
  border-top:1px solid #eaeaea;
  margin-top:20px;
  padding-top:10px;
}

img {
    width:100%;
}

.flex-video iframe,
.flex-video object,
.flex-video embed {
    left:50%;
}

#kateheddleston-wrap .login-wrapper {
    width:300px;
    display:block;
    margin:30px auto;
}

#kateheddleston-wrap .login-wrapper button {
    width:100%;
}

#kateheddleston-wrap .editing-header {
    position:fixed;
    top:66px;
    left:0;
    width:100%;
    display:block;
    padding:10px;
    background-color:rgba(255,255,255,.97);
    border-bottom:1px solid #d6e9c6;
    z-index:1000;
    margin:0;
}

#kateheddleston-wrap .editing-header.panel-success {
    background-image:linear-gradient(to bottom,#dff0d8 0,#d0e9c6 100%)
    background-color:#dff0d8;
    border-bottom:1px solid #d6e9c6;
}

#kateheddleston-wrap .title-section {
    margin:10px auto 40px;
    width:900px;
}

#kateheddleston-wrap .gallery-item-buttons {
    margin:10px 0;
}

#kateheddleston-wrap .editing-sections {
    padding-top:40px;
}

#kateheddleston-wrap .edit_panel {
    margin:0 5% 0;
}

#kateheddleston-wrap .comments .link {
    cursor:pointer;
}

#kateheddleston-wrap .comments .add-comment {
    text-align:right;
}

#kateheddleston-wrap .comments .add-comment textarea {
    margin-bottom:15px;
}

#kateheddleston-wrap .comments ul {
    margin:0;
    padding:0;
    display:block;
}

#kateheddleston-wrap .comments li {
    display:block;
    padding:0;
}

#kateheddleston-wrap .comments .comment {
    margin-bottom:10px;
    border:1px solid #eaeaea;
    border-radius:4px;
    background-color:rgba(255, 255, 255, 1);
}

#kateheddleston-wrap .comments .comment .buttons {
    padding: 10px;
}

#kateheddleston-wrap .comments .comment .buttons button {
    height:28px;
    line-height:28px;
    margin-left:10px;
}

#kateheddleston-wrap .comments .comment .text {
    margin-bottom:10px;
    white-space:pre-line;
    margin:0 10px 20px;
}

#kateheddleston-wrap .comments .comment.resolved {
}
