/* Admin page CSS
-------------------------------------------------- */

#kateheddleston-wrap .gallery-items .new-items {
  border-top:1px solid #eaeaea;
  padding-top:10px;
}

.center {
    display:table;
    margin:0 auto;
}

#kateheddleston-wrap .blog_item.success {
  border:3px solid #5cb85c;
}

#kateheddleston-wrap .blog_item.default {
  border:3px solid #eaeaea;
}

#kateheddleston-wrap .gallery_item {
  margin-top:20px;
}

#kateheddleston-wrap .gallery_item.dead h4,
#kateheddleston-wrap .gallery_item.dead {
    color:rgba(0, 0, 0, .2);
}

#kateheddleston-wrap .gallery_item .item-body {
    margin-bottom:10px;
    overflow:auto;
    word-wrap: break-word;
}

#kateheddleston-wrap .add-image-button {
    margin:8px 0;
    border:2px dashed rgba(0,0,0,.5);
    color:rgba(0,0,0,.5);
    background:none;
    text-decoration:none;
    padding:4px;
    font-size:16px;
    display:inline-block;
    cursor:pointer;
}

#kateheddleston-wrap .no-image {
    width:100%;
    max-height:700px;
    text-align:center;
    border:1px solid #eaeaea;
}

#kateheddleston-wrap .gallery_item .item-image .image-loader {
    margin:0 auto;
    display:block;
}

#kateheddleston-wrap .gallery_item .item-image .image-loader img {
    max-width:200px;
}

#kateheddleston-wrap .cover-image img,
#kateheddleston-wrap .gallery_item .item-image img {
    max-width:400px;
}

.flex-video iframe,
.flex-video object,
.flex-video embed {
    left:50%;
}

#kateheddleston-wrap .login-wrapper {
    width:300px;
    display:block;
    margin:30px auto;
}

#kateheddleston-wrap .signup-wrapper {
    width:600px;
    display:block;
    margin:30px auto;
}

#kateheddleston-wrap .login-wrapper button {
    width:100%;
}

#kateheddleston-wrap .editing-header {
    width:100%;
    display:block;
    padding:10px;
    border-bottom:1px solid #d6e9c6;
    margin:0;
}

#kateheddleston-wrap .editing-header.panel-success {
    background-image:linear-gradient(to bottom,#dff0d8 0,#d0e9c6 100%)
    background-color:#dff0d8;
    border-bottom:1px solid #d6e9c6;
}

#kateheddleston-wrap .title-section {
    margin:10px auto 40px;
    width:900px;
}

#kateheddleston-wrap .editing-sections {
    padding-top:40px;
}

#kateheddleston-wrap .edit_panel {
    margin:0 15px 0;
}

#kateheddleston-wrap .comments .link {
    cursor:pointer;
}

#kateheddleston-wrap .comments .add-comment {
    margin-bottom:15px;
}

#kateheddleston-wrap .comments .add-comment textarea {
    margin-bottom:15px;
}

#kateheddleston-wrap .comments ul {
    margin:0;
    padding:0;
    display:block;
}

#kateheddleston-wrap .comments li {
    display:block;
    padding:0;
}

#kateheddleston-wrap .comments .comment {
    margin-bottom:10px;
    border:1px solid #eaeaea;
    border-radius:4px;
    background-color:rgba(255, 255, 255, 1);
    padding:10px;
}

#kateheddleston-wrap .comments .comment .buttons {
    height:20px;
    line-height:20px;
}

#kateheddleston-wrap .comments .comment .buttons button {
    line-height:20px;
    height:20px;
    margin-left:10px;
}

#kateheddleston-wrap .comments .comment .resolve-button {
    margin-bottom:10px;
}

#kateheddleston-wrap .comments .comment .text .text-body {
    white-space:pre-line;
    overflow:auto;
    word-wrap: break-word;
}

#kateheddleston-wrap .comments .comment .author,
#kateheddleston-wrap .comments .comment .time {
    color:rgba(0,0,0,.5);
    font-size:12px;
}

#kateheddleston-wrap .comments .comment .author p {
    margin:0;
}

#kateheddleston-wrap .comments .comment.resolved {
    background:rgba(92, 184, 92, .1);
}

#kateheddleston-wrap .btn {
    border-radius:0px;
}

#kateheddleston-wrap .subscriptions {
    padding:0 15px;
}

#kateheddleston-wrap .subscriptions .subscription.dead {
    color:rgba(0, 0, 0, .3);
}

#kateheddleston-wrap .subscriptions .unverified {
    color:rgba(255, 0, 0, 1);
}

#kateheddleston-wrap .subscriptions .fa-check {
    color:green;
}

#kateheddleston-wrap .subscriptions .subscription-categories label {
    text-transform:capitalize;
}

.talk-body img {
    width:100%;
}

#kateheddleston-wrap .admin-navbar li a {
    cursor:pointer;
    color:rgba(205, 16, 118, 1);
}

#kateheddleston-wrap .admin-navbar li.active a {
    color:white;
}

#kateheddleston-wrap form.navbar-form .navbar-btn {
    margin-right:7px;
}

#kateheddleston-wrap form.navbar-form select.navbar-btn {
    min-width:75px;
}

#kateheddleston-wrap .navbar .form-control {
    margin-top:8px;
}

#kateheddleston-wrap .navbar-form {
    margin-top:0;
    margin-bottom:0;
}

#kateheddleston-wrap .category-label {
    font-size:16px;
    display:inline-block;
}

#kateheddleston-wrap .edit_gallery .form-control {
    margin-top:10px;
}

#kateheddleston-wrap .dropdown a {
    font-size:16px;
    letter-spacing:1px;
    text-transform:none;
    line-height:35px;
}

#kateheddleston-wrap .dropdown-menu {
    right:0;
    left:auto;
}

#kateheddleston-wrap .dropdown-menu li {
    display:block;
    margin:5px 0;
}

#kateheddleston-wrap .dropdown-menu li:hover {
    background-color:#eaeaea;
}
