/* Admin page CSS
-------------------------------------------------- */

#kateheddleston-wrap .gallery-items .new-items {
  border-top:1px solid #eaeaea;
  padding-top:10px;
}

.center {
    display:table;
    margin:0 auto;
}

#kateheddleston-wrap .blog_item.success {
  border:3px solid #5cb85c;
}

#kateheddleston-wrap .blog_item.default {
  border:3px solid #eaeaea;
}
