/* Base style elements CSS
-------------------------------------------------- */

#kateheddleston-wrap {
  font-family: 'Raleway', sans-serif;
  background-repeat:no-repeat;
  background-size:cover;
  letter-spacing:0.01rem;
  font-style:normal;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

#kateheddleston-wrap .background-image {
  width:100%;
  height:100%;
  position:fixed;
  left:0;
  top:80px;
  background-size:100%;
  background-repeat:no-repeat;
  background-image:url("https://s3.amazonaws.com/images.kateheddleston.com/personal/self-portrait.jpg");
}

#kateheddleston-wrap a {
  color:rgba(9, 161, 178, 1);
}

.deep-pink {
  color:rgba(205, 16, 118, 1);
}

.green {
    color:#048000;
}

.light-green {
    color:#15CD10;
}

.light-teal {
    color:#1B8D9A;
}

.brown {
    color:#CD1076;
}

.dark-gray {
    color:#353435;
}

.medium-gray {
    color:#eaeaea;
}

.light-gray {
    color:rgba(0,0,0,.3)
}

.red {
    color:#E4060F;
}

.deep-teal {
  color:rgba(9, 161, 178, 1);
}

.deep-yellow {
  color:rgba(255, 227, 25, 1);
}

.yellow {
    color:#D5C026;
}

.maroon-light {
    color:#660033;
}

.maroon-dark {
    color:#582939;
}

#kateheddleston-wrap .btn-default {
  color:rgba(205, 16, 118, 1);
}

#kateheddleston-wrap .background-white {
  background-color:rgba(255,255,255,.9);
}

#kateheddleston-wrap .main-content {
  color:#353435;
  padding-top:20px;
  height:100%;
  margin-top:65px;
}

#content {
    margin-top:60px;
}

.flashes li {
    display:block;
}

#container {
    margin:30px auto 0;
}

.loading img {
    width:20%;
    display:block;
    margin:10% auto 0;
}

.loading.modal-loader img {
    margin:5% auto;
}

.loading.image-loader img {
    width:80%;
    margin:5% auto;
}

#kateheddleston-wrap .page-btn.subscription {
    margin-top:10px;
}

#kateheddleston-wrap .subscription-category {
    width:170px;
    text-align:left;
    margin:0 auto;
}

#kateheddleston-wrap .subscription-category .loading-markers {
    min-width:20px;
    display:inline-block;
}

#katheddleston-wrap .subscription-category img {
    width:20px;
}

#kateheddleston-wrap .verification_message {
    width:50%;
    margin:0 auto;
    font-size:18px;
}

#kateheddleston-wrap .unsubscribe-btn {
    margin-top:75px;
}

.margin-top-10 {
    margin-top:10px;
}

#kateheddleston-wrap .line-through {
    text-decoration:line-through;
}

#kateheddleston-wrap .footer {
    min-height:50px;
}

#kateheddleston-wrap .gray-btn {
  background:rgba(0, 0, 0, .7);
  color:white;
  cursor:pointer;
  text-decoration:none;
  font-size:20px;
  height:40px;
  line-height:40px;
  padding:10px 20px;
  font-weight:bold;
}

#kateheddleston-wrap .pink-btn {
  background:rgba(205, 16, 118, 1);
  color:white;
  cursor:pointer;
  text-decoration:none;
  font-size:20px;
  height:40px;
  line-height:40px;
  padding:10px 20px;
  font-weight:bold;
}

#kateheddleston-wrap ul.numbered-list {
    list-style-type:decimal;
}

#kateheddleston-wrap .margin-lr-30 {
    margin:0 30px;
}

#kateheddleston-wrap .margin-r-10 {
    margin-right:10px;
}

#kateheddleston-wrap .margin-r-20 {
    margin-right:20px;
}

#kateheddleston-wrap .margin-l-10 {
    margin-left:10px;
}

#kateheddleston-wrap .margin-bottom-20 {
    margin-bottom:20px;
}

#kateheddleston-wrap .margin-top-10 {
    margin-top:10px;
}

#kateheddleston-wrap .margin-top-20 {
    margin-top:20px;
}

#kateheddleston-wrap .width-300 {
    width:300px;
}

#kateheddleston-wrap .message-404 {
    text-align:center;
    padding:0 15px;
}

#kateheddleston-wrap .message-404 h1 {
    font-size:150px;
}

@media screen and (min-width: 500px) {
    #kateheddleston-wrap .message-404 h1 {
        font-size:225px;
    }
}

#kateheddleston-wrap .capitalize {
    text-transform:capitalize;
}

#kateheddleston-wrap .pointer {
    cursor:pointer;
}
