
#comments {
  margin:40px 0;
  border-top:1px solid #eaeaea;
}

#comments .twitter-header {
  margin-top:20px;
}

#comments h2 {
  color:#666666;
}

#comments .comment-box {
  margin:20px 0 10px;
  line-height:1.1;
}

#comments .comment-box iframe {
  margin-top:2px;
  display:inline-block;
  vertical-align:top;
}

#comments .comment-box .text {
  font-size:20px;
  line-height:33px;
  display:inline-block;
  vertical-align:top;
}

#comments .comment-box .text i {
  cursor:pointer;
  margin-left:8px;
  font-size:20px;
}

#comments .popover {
  font-size:14px;
  line-height:20px;
}

#comments .tweets {
  margin:30px 0 0;
  padding:0;
  font-size:14px;
}

#comments .tweets .tweet {
  display:inline-block;
  margin:0;
  padding:20px 40px 40px;
}

#comments .tweets .tweet .top {
  height:52px;
}

#comments .tweets .tweet .top img {
  float:left;
  margin-top:2px;
}

#comments .tweets .tweet .name {
  display:inline-block;
  margin-left:10px;
  margin-top:6px;
}

#comments .tweets .tweet .name .screen-name {
  float:left;
}

#comments .tweets .tweet .text {
  margin-top:10px;
}

@media (min-width: 575px) {
    #comments .tweets .tweet-height .text {
        min-height:80px;
    }
}

@media (min-width: 635px) {
    #comments .tweets .tweet-height .text {
        min-height:60px;
    }
}

#comments .tweets .tweet .created-at {
  margin-top:10px;
  color:rgba(150, 150, 150, 1);
}

#comments .tweets .tweet .external-link {
  margin-top:10px;
}

#comments .network-logo {
    width:20px;
    height:20px;
}

#comments .twitter a {
    color:#4099FF;
}

#comments .facebook a {
    color:#3b5998;
}
