/* Footer style elements CSS
-------------------------------------------------- */

#kateheddleston-wrap .footer.icons {
  bottom:0;
  left:0;
  width:100%;
}

#kateheddleston-wrap .footer.icons .icon-inner {
  border-top:1px solid #eaeaea;
  background-color:rgba(255,255,255,.9);
}

#kateheddleston-wrap .footer.icons .border-right {
  border-right:1px solid #eaeaea;
}

#kateheddleston-wrap .footer.icons .icon {
  text-align:center;
  font-size:14px;
  line-height:40px;
  height:40px;
}

#kateheddleston-wrap .footer.icons .icon:after {
  margin:0;
}

#kateheddleston-wrap .footer.icons a {
  width:100%;
  height:100%;
  display:block;
}

#kateheddleston-wrap .footer.icons a:hover {
  color:#fff;
  text-decoration:none;
  background-color:rgba(9, 161, 178, 1);
}

#kateheddleston-wrap .footer.icons i {
  margin-right:15px;
  font-style:normal;
  font-size:14px;
  height:100%;
  line-height:40px;
}

#kateheddleston-wrap .footer.icons i:before {
  padding-right:5px;
}
