/* Gallery style elements CSS
-------------------------------------------------- */

#kateheddleston-wrap .main-image {
    margin-bottom:30px;
}

#kateheddleston-wrap .gallery-content {
  margin:0 auto;
  color:rgb(0, 0, 0, .9);
  padding:10px 0;
  max-width:700px;
  font-size:22px;
  line-height:1.58em;
  letter-spacing:-0.003em;
  word-wrap:break-word;
  font-weight:400;
  font-family: 'EB Garamond', serif;
}

#kateheddleston-wrap .gallery-content .post-section {
  padding:20px 0;
}

#kateheddleston-wrap .gallery-content .image-section .image-caption {
    margin-top:5px;
}

#kateheddleston-wrap .gallery-content .image-section img {
  max-width:100%;
  max-height:700px;
  display:block;
  margin:0 auto;
}

@media all and (max-width: 1020px) {
  #kateheddleston-wrap .gallery-content .post-section {
    margin:0;
    padding:10px 5%;
    width:auto;
  }
  #kateheddleston-wrap .gallery-content  {
    width:auto;
  }
}

#kateheddleston-wrap .gallery-content .title-section {
    text-align:center;
    margin:80px auto 20px;
    font-family: 'Raleway', sans-serif;
}

#kateheddleston-wrap .gallery-content .video-section {
  margin-top:60px;
}

#kateheddleston-wrap .gallery-content .post-section.name {
    margin:20px auto;
    font-family: 'Raleway', sans-serif;
}

#kateheddleston-wrap .gallery-content .post-section.name h1 {
    font-size:50px;
    margin:10px 0;
}

#kateheddleston-wrap .gallery-content .post-section.name h3 {
    margin-top:0;
    margin-bottom:20px;
}

#kateheddleston-wrap .gallery-content .post-section.name h5 {
  color:#666;
  font-family: 'Raleway', sans-serif;
}

#kateheddleston-wrap .gallery-content .header {
  font-size:20px;
  line-height:25px;
  margin-bottom:10px;
}

#kateheddleston-wrap .next-item,
#kateheddleston-wrap .prev-item {
  cursor:pointer;
  position:fixed;
  width:100px;
  height:100%;
  top:0;
  background-repeat:no-repeat;
  background-position:center;
  background-size:40px;
}

#kateheddleston-wrap .next-item {
  right:0;
  background-image:url("https://s3.amazonaws.com/images.kateheddleston.com/images/right-arrow.png");
}

#kateheddleston-wrap .prev-item {
  left:0;
  background-image:url("https://s3.amazonaws.com/images.kateheddleston.com/images/left-arrow.png");
}

#kateheddleston-wrap .text-display {
  width:50%;
  margin:8% auto 0;
  background-color:rgba(255,255,255,.9);
  padding:20px;
  max-height:75%;
  overflow:scroll;
}

#kateheddleston-wrap .gallery-item {
    margin-bottom:30px;
}

#kateheddleston-wrap .subscription-notice .page-btn {
    padding:0;
}

#kateheddleston-wrap .gallery-info {
    font-size:13px;
}
