/* Gallery style elements CSS
-------------------------------------------------- */

#kateheddleston-wrap .main-image {
    margin-bottom:30px;
}

#kateheddleston-wrap .gallery-content {
  line-height:25px;
  font-size:18px;
  margin:0 auto;
  color:rgb(66, 66, 66);
  overflow:scroll;
  padding:10px 0;
}

#kateheddleston-wrap .gallery-content .title {
  text-align:center;
}

#kateheddleston-wrap .gallery-content .section {
}

#kateheddleston-wrap .gallery-content .section.title,
#kateheddleston-wrap .gallery-content .section.body {
  padding:20px 10%;
}

#kateheddleston-wrap .gallery-content .section img {
  width:100%;
}

#kateheddleston-wrap .gallery-content .header {
  font-size:20px;
  line-height:25px;
  margin-bottom:10px;
}

#kateheddleston-wrap .next-item,
#kateheddleston-wrap .prev-item {
  cursor:pointer;
  position:fixed;
  width:100px;
  height:100%;
  top:0;
  background-repeat:no-repeat;
  background-position:center;
  background-size:40px;
}

#kateheddleston-wrap .next-item {
  right:0;
  background-image:url("http://images.kateheddleston.com/images/right-arrow.png");
}

#kateheddleston-wrap .prev-item {
  left:0;
  background-image:url("http://images.kateheddleston.com/images/left-arrow.png");
}

#kateheddleston-wrap .text-display {
  width:50%;
  margin:8% auto 0;
  background-color:rgba(255,255,255,.9);
  padding:20px;
  max-height:75%;
  overflow:scroll;
}

.gallery_item img {
  width:100%;
}

