/* Header style elements CSS
-------------------------------------------------- */

#kateheddleston-wrap .main-content {
  margin:120px 0 0 0;
}

#kateheddleston-wrap .header {
  width:100%;
  z-index:100;
  position:fixed;
  top:65px;
  left:0;
}

@media all and (max-width: 767px) {
  #kateheddleston-wrap .main-content {
    margin:160px 0 0 0;
  }
}

@media all and (max-width: 450px) {
  #kateheddleston-wrap .main-content {
    margin:180px 0 0 0;
  }
}

#kateheddleston-wrap .header .links {
  height:40px;
}

#kateheddleston-wrap .prev-link,
#kateheddleston-wrap .next-link {
  width:70px;
  height:40px;
  font-size:14px;
  line-height:30px;
  display:inline-block;
}

#kateheddleston-wrap .prev-link {
  float:left;
}

#kateheddleston-wrap .next-link {
  float:right;
}

#kateheddleston-wrap .prev-link a,
#kateheddleston-wrap .next-link a {
  height:40px;
  width:70px;
  display:inline-block;
  padding:4px;
  background-color:rgba(100, 100, 100, .2);
  color:#fff;
}

#kateheddleston-wrap .prev-link a:hover,
#kateheddleston-wrap .next-link a:hover {
  text-decoration:none;
  background-color:rgba(205, 16, 118, 1);
  color:#fff;
  cursor:pointer;
}

