/* Header style elements CSS
-------------------------------------------------- */

#kateheddleston-wrap .post_footer {
  font-family: 'Raleway', sans-serif;
  width:100%;
  z-index:100;
  position:fixed;
  bottom:0;
  left:0;
  background-color:rgba(255, 255, 255, .97);
  border-top:1px solid rgba(0,0,0,.05);
}

#kateheddleston-wrap .post_footer .links {
  height:40px;
}

#kateheddleston-wrap .link {
  height:40px;
  font-size:14px;
  line-height:30px;
  display:inline-block;
  padding:0;
}

#kateheddleston-wrap .link.border-right {
    border-right:1px solid rgba(0,0,0,.05);
}

#kateheddleston-wrap .copyright {
    line-height:40px;
}

#kateheddleston-wrap .link.border-left {
    border-left:1px solid rgba(0,0,0,.05);
}

#kateheddleston-wrap .link a {
  height:40px;
  width:100%;
  display:inline-block;
  padding:8px;
  color:rgba(0,0,0,.7);
  cursor:pointer;
}

#kateheddleston-wrap .link a:hover {
  text-decoration:none;
  background-color:rgba(205, 16, 118, 1);
  color:#fff;
}

