/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.icons img {
    width:30px;
}

#kateheddleston-wrap {
  background-color:#eaeaea;
  font-family: 'Raleway', sans-serif;
  height:100%;
}

#kateheddleston-wrap .navbar-custom {
    /*box-shadow:0 0 2px rgba(0,0,0,.075);*/
    background-color:rgba(255, 255, 255, .9);
    position:fixed;
    top:0;
    left:2%;
    height:100%;
    width:225px;
}

#kateheddleston-wrap .navbar-custom .navbar-text {
  position:absolute;
  top:25%;
}

#kateheddleston-wrap .navbar-custom li {
    display:block;
}

#kateheddleston-wrap .navbar-custom a {
    letter-spacing:2px;
    text-align:center;
    text-transform:uppercase;
    /*font:16px/26px Georgia, "Times New Roman", Times, serif;*/
    text-decoration:none;
    color:#666666;
    /*color:#353435;*/
    line-height:24px;
    font-size:18px;
}

#kateheddleston-wrap .navbar-custom a:hover {
    background:none;
    color:#660033;
}

#kateheddleston-wrap .navbar-custom .active a {
    color:#660033;
    text-decoration:underline;
}

#kateheddleston-wrap .brand {
  text-align:justify;
  width:135px;
  color:#666666;
  text-transform:uppercase;
}

#kateheddleston-wrap .brand p {
  margin:0;
  font-family: 'Open Sans', sans-serif;
}

#kateheddleston-wrap .brand a {
  font-size:10px;
  line-height:10px;
  font-family: 'Open Sans', sans-serif;
}

#kateheddleston-wrap .brand-top {
  position:absolute;
  top:5%;
  left:45px;
}

#kateheddleston-wrap .brand-bottom {
  position:absolute;
  bottom:5%;
  left:45px;
}

#about_page .main-image {
    margin-bottom:30px;
}

#kateheddleston-wrap .main-content {
  color:#353435;
  padding:0;
  margin-left:255px;
  height:100%;
}

.background-image {
    background-image:url("http://images.kateheddleston.com/personal/self-portrait.png");
    background-repeat:no-repeat;
    background-size:100%;
}

#content {
    margin-top:60px;
}

.maroon-light {
    color:#660033;
}

.maroon-dark {
    color:#582939;
}

.talk_item {
    display:block;
    margin:0 auto;
    overflow:hidden;
    padding:0;
    margin-bottom:40px;
    cursor:pointer;
}

.talk_item .info {
    background-color:#ffffff;
    color:#777;
}

.talk_item .info h3 {
    margin-bottom:0;
}

iframe {
    width:560px;
    height:315px;
}

.center {
    float:none;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.flashes li {
    display:block;
}

.center {
    display:table;
    margin:0 auto;
}

.footer {
    background-color:#f8f8f8;
    margin-top:40px;
}

.edit_panel {
    margin:30px 20px 0;
}

#kateheddleston-wrap .blog_item_link {
  cursor:pointer;
}

#kateheddleston-wrap .blog_item_link:hover {
    text-decoration:none;
}

#kateheddleston-wrap .blog_item {
    width:360px;
    overflow:hidden;
    padding:0;
    /*border:1px solid #ddd;*/
    /*transition:all .2s ease-in-out;i*/
    border-radius:5px;
    background-color:#f8f8f8;
    line-height:1.42857143;
    display:block;
    text-decoration:none;
    color:#777;
    margin-bottom:30px;
}

#kateheddleston-wrap .blog_item:hover {
    box-shadow:1px 2px 3px rgba(0,0,0,.075);
}

#kateheddleston-wrap .blog_item img {
    width:100%;
}

#kateheddleston-wrap .blog_item .info {
    padding:10px;
}

#kateheddleston-wrap .blog_item .footer {
    background-color:transparent;
    margin:0;
    padding:10px;
    border-top:1px solid #f8f8f8;
}

#kateheddleston-wrap .blog_item .date {
    text-transform:uppercase;
    font-size:11px;
    font-weight:700;
    line-height:30px;
}

#kateheddleston-wrap .blog_page {
    width:50%;
    float:right;
    background-color:rgba(255, 255, 255, .9);
    padding:20px;
    height:100%;
    top:0;
    right:0;
    position:fixed;
    overflow:scroll;
}

#kateheddleston-wrap .blog_page .date {
    padding:10px 0;
    border-top:1px solid #353435;
}

#kateheddleston-wrap .blog_page .header {
    margin-bottom:15px;
    margin-top:20px;
}

#kateheddleston-wrap .blog_page img {
    width:100%;
}

#kateheddleston-wrap .blog_page .body {
    margin-top:30px;
}

#kateheddleston-wrap .links a {
    color:#660033;
}

#kateheddleston-wrap .links .prev-link {
  display:inline-block;
}

#kateheddleston-wrap .links .next-link {
  display:inline-block;
  float:right;
}

.w1 {
    width:180px;
}

.w2 {
    width:360px;
}

.w3 {
    width:540px;
}

#container {
    margin:0 auto;
    margin-top:30px;
}
