/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.icons img {
    width:30px;
}

#kateheddleston-wrap .navbar {
    background-color:#ffffff;
    box-shadow:0 0 2px rgba(0,0,0,.075);
}

#kateheddleston-wrap .navbar a {
    letter-spacing:2px;
    text-align:center;
    text-transform:uppercase;
    font:16px/26px Georgia, "Times New Roman", Times, serif;
    text-decoration:none;
    color:#353435;
    line-height:30px;
    font-size:20px;
}

#kateheddleston-wrap .navbar a:hover {
    background:none;
    color:#660033;
}

#kateheddleston-wrap .navbar .active a {
    color:#660033;
    text-decoration:underline;
}

.navbar-block {
    text-align:center;
    display:inline-block;
}

#about_page .main-image {
    margin-bottom:30px;
}

.main-content {
    margin-top:60px;
    background-color:#f8f8f8;
}

.background-image {
    height:100%;
    background-image:url("http://images.kateheddleston.com/personal/self-portrait.png");
    background-repeat:no-repeat;
    background-size:100%;
}

#content {
    margin-top:60px;
}

.maroon-light {
    color:#660033;
}

.maroon-dark {
    color:#582939;
}

.talk_item {
    display:block;
    margin:0 auto;
    overflow:hidden;
    padding:0;
    margin-bottom:40px;
    cursor:pointer;
}

.talk_item .info {
    background-color:#ffffff;
    color:#777;
}

.talk_item .info h3 {
    margin-bottom:0;
}

iframe {
    width:560px;
    height:315px;
}

.center {
    float:none;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.flashes li {
    display:block;
}

.center {
    display:table;
    margin:0 auto;
}

.footer {
    background-color:#f8f8f8;
    margin-top:40px;
}

.edit_panel {
    margin:30px 20px 0;
}

#kateheddleston-wrap .blog_item_link:hover {
    text-decoration:none;
}

#kateheddleston-wrap .blog_item {
    width:320px;
    overflow:hidden;
    padding:0;
    box-shadow:1px 2px 3px rgba(0,0,0,.075);
    /*border:1px solid #ddd;*/
    border-radius:11px;
    transition:all .2s ease-in-out;
    line-height:1.42857143;
    display:block;
    background-color:#fff;
    text-decoration:none;
    color:#777;
    margin-bottom:30px;
}

#kateheddleston-wrap .blog_item:hover {
    box-shadow:0 2px 4px 3px rgba(0,0,0,.075);
}

#kateheddleston-wrap .blog_item img {
    width:100%;
}

#kateheddleston-wrap .blog_item .info {
    padding:10px;
}

#kateheddleston-wrap .blog_item .footer {
    background-color:transparent;
    margin:0;
    padding:10px;
    border-top:1px solid #f8f8f8;
}

#kateheddleston-wrap .blog_item .date {
    text-transform:uppercase;
    font-size:11px;
    font-weight:700;
    line-height:30px;
}

.w1 {
    width:160px;
}

.w2 {
    width:320;
}

.w3 {
    width:480px;
}

#container {
    margin:0 auto;
    margin-top:30px;
}
