/* Talk style elements CSS
-------------------------------------------------- */

#kateheddleston-wrap .talk-item {
    width:80%;
    max-width:880px;
    margin:0 auto;
    padding:30px 0 30px;
}

#kateheddleston-wrap .talk-item {
    padding-top:0;
}

#kateheddleston-wrap .talk-item .title-section {
    padding-top:0;
}

#kateheddleston-wrap .talk-item .header {
  margin:20px 20px 15px;
}

#kateheddleston-wrap .talk-item .body {
  padding:30px 60px 0;
}

#kateheddleston-wrap .talk-item .talk_video {
  margin:40px 0;
}

.flex-video {
    position: relative;
    padding-top: 25px;
    padding-bottom: 67.5%;
    height: 0;
    margin-bottom: 16px;
    overflow: hidden;
    margin-top:25px;
}

.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }

.flex-video iframe,
.flex-video object,
.flex-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
    .flex-video { padding-top: 0; }
}

iframe {
    width:560px;
    height:315px;
}
