/* Tiles style elements CSS
-------------------------------------------------- */

.w60 {
  width:60%;
}

.w70 {
  width:70%;
}

.w1 {
    width:180px;
}

.w2 {
    width:360px;
}

.w3 {
    width:540px;
}

.w4 {
    width:720px;
}

@media all and (max-width: 580px) {
  #kateheddleston-wrap .w3 {
    width:100%;
  }
}

@media all and (max-width: 450px) {
  #kateheddleston-wrap .w2 {
    width:100%;
  }
}

#kateheddleston-wrap .blog_item_link {
  cursor:pointer;
}

#kateheddleston-wrap .blog_item_link:hover {
    text-decoration:none;
}

#kateheddleston-wrap .blog_item {
    overflow:hidden;
    padding:0;
    line-height:1.42857143;
    display:block;
    text-decoration:none;
    color:#353435;
    margin-bottom:30px;
    border:1px solid #eaeaea;
    background-color:rgba(255, 255, 255, .9);
}

#kateheddleston-wrap .blog_item img {
    width:100%;
}

#kateheddleston-wrap .blog_item .info {
    padding:10px;
}

#kateheddleston-wrap .blog_item .info-icons {
    background-color:transparent;
    margin:0;
    padding:10px;
    border-top:1px solid #f8f8f8;
    color:#999999;
}

#kateheddleston-wrap .blog_item .date {
    text-transform:uppercase;
    font-size:11px;
    font-weight:700;
    line-height:30px;
}

