/* Tiles style elements CSS
-------------------------------------------------- */

.w60 {
  width:60%;
}

.w70 {
  width:70%;
}

.w1 {
    width:100px;
}

.w2 {
    width:200px;
}

.w3 {
    width:300px;
}

.w4 {
    width:375px;
}

.w5 {
    width:500px;
}

@media all and (max-width: 410px) {
  #kateheddleston-wrap .w4 {
    width:100%;
  }
}

@media all and (max-width: 310px) {
  #kateheddleston-wrap .w3 {
    width:100%;
  }
}

@media all and (max-width: 210px) {
  #kateheddleston-wrap .w2 {
    width:100%;
  }
}

#kateheddleston-wrap .blog_item_link {
  cursor:pointer;
}

#kateheddleston-wrap .blog_item_link:hover {
    text-decoration:none;
}

#kateheddleston-wrap .blog_item {
    overflow:hidden;
    padding:15px;
    line-height:1.42857143;
    display:block;
    text-decoration:none;
    color:#353435;
    margin-bottom:30px;
    background-color:rgba(255, 255, 255, .9);
    border-radius:1px;
    border:1px solid #c7c7c7;
    border-top:4px solid rgba(205, 16, 118, 1);
    box-shadow:0 1px 2px 0 #c7c7c7;
}

#kateheddleston-wrap .blog_item img {
    min-height:200px;
    width:100%;
}

#kateheddleston-wrap .blog_item .blog_item_footer {
    color:rgba(0,0,0,.8);
    width:100%;
}

#kateheddleston-wrap .blog_item .blog_item_footer .footer-title {
    padding-top:15px;
}

#kateheddleston-wrap .blog_item .blog_item_footer .footer-title h4 {
    font-size:24px;
    margin:0;
}

#kateheddleston-wrap .blog_item .info-icons {
    background-color:transparent;
    margin:0;
    color:rgba(0,0,0,.5);
}

#kateheddleston-wrap .blog_item .date {
    text-transform:uppercase;
    font-size:10px;
    font-weight:700;
    line-height:30px;
}

#kateheddleston-wrap .blog_item .row.buttons {
    padding:0 10px 10px;
}
