{% extends "base.html" %}
{% import "bottom_icon.html" as icon with context %}
{% block head %}
  {% assets "about_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}
{% block content %}
<div class='gallery-item' id='about_page' ng-controller='GalleryCtrl' ng-init='init({{gallery|safe}})'>
  <div class='gallery-container'>
    <div class='header pagination'>
      <div class='pagination-inner'>
        <div class='' ng-show='items.length > 1'>
          <h3 ng-bind='title'></h3>
          <div class='circles'>
            <div ng-repeat='item in items' ng-click='updatePosition(item.position)' ng-class='displayPosition() === item.position ? "filled-circle" : "hollow-circle"'>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='prev-item' ng-click='prevItem()' ng-show='items.length > 1'>
    </div>
    <div class='gallery-content' ng-if='body'>
      <div class='body' ng-if='body'>
        <p ng-bind-html='body'></p>
      </div>
    </div>
    <div class='next-item' ng-click='nextItem()' ng-show='items.length > 1'>
    </div>
  </div>
</div>
{% endblock %}
