{% extends "base.html" %}
{% import "bottom_icon.html" as icon with context %}
{% block head %}
  {% assets "post_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
  {% assets "about_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}
{% block content %}
<div class='gallery-item' id='about_page' ng-controller='CustomPostController'>
  <div class='gallery-content'>
    {% include "post_sections.html" %}
  </div>
  {% include "left_nav.html" %}
</div>
{% endblock %}
{% block script %}
  {% assets "post_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  <script type='text/javascript'>
      var galleryUUID = '{{gallery_uuid}}';
  </script>
{% endblock %}
