{% extends "base.html" %}
{% import "bottom_icon.html" as icon with context %}
{% block head %}
  {% assets "post_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
  {% assets "about_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}
{% block content %}
<div class='gallery-item' id='about_page' ng-controller='GalleryCtrl' ng-init='init({{gallery|safe}})'>
  <div id='fullpage' class='gallery-content'>
    <div ng-repeat='item in items'>
      <div class='section title' ng-if='item.title' data-anchor='item{[{item.position}]}'>
        <h4 ng-bind='item.title'>
        </h4>
      </div>
      <div class='section' ng-if='item.image_link'>
        <img ng-src="{[{item.image_link}]}" />
      </div>
      <div class='section body' ng-if='item.body'>
        <p ng-bind-html='item.body'>
        </p>
      </div>
    </div>
  </div>
  <div id='left-nav'>
		<ul>
			<li ng-repeat='item in items'>
        <a href='#' class='nav-item' ng-class='isSelected(item.position) ? "selected": ""' ng-click='movePage(item.position)' ng-if='item.title'>
          <span class='dot'></span>
          <span class='title' ng-bind='item.title'></span>
        </a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
{% block script %}
  {% assets "post_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  <script type='text/javascript'>
    $(document).ready(function() {
      $('#fullpage').fullpage({
        easing: '',
        autoScrolling: false
      });
    });
  </script>
{% endblock %}
