<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app='angularApp' xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />    
        <link rel="shortcut icon" href="/static/images/winery_bowl_small.jpg">

        {% assets "base_css" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
        {% endassets %}
        <!-- Google fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans|Raleway' rel='stylesheet' type='text/css'>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

        <script type="text/javascript">
            var csrftoken = '{{ csrf_token() }}';
        </script>
        {% block head%}{% endblock %}
    </head>
    <body id="kateheddleston-wrap" {% if g.nav_view == 'home' %}class='background-image'{% endif %}>
        <nav class="" role="navigation">
            <div class="navbar-custom" id="nav-target">
                <div class='brand brand-top'>
                  <p class='name'>Kate Heddleston</p>
                  <div class='logo'>
                    <a href="{{g.app_base_link}}/">
                      <img src="/static/images/binary_logo.png">
                    </a>
                  </div>
                </div>
                <div class='navbar-text'>
                  <ul class="">
                      <li class="{% if g.nav_view == 'about' %}active{% endif %}"><a href="{{g.app_base_link}}/about">About</a></li>
                      <li class="{% if g.nav_view == 'talks' %}active{% endif %}"><a href="{{g.app_base_link}}/talks">Talks</a></li>
                      <li class="{% if g.nav_view == 'blog' %}active{% endif %}"><a href="{{g.app_base_link}}/blog">Blog</a></li>
                  </ul>
                </div>
                <div class='brand brand-bottom'>
                  <ul class='icons'>
                      <li><a href='https://www.facebook.com/kate.heddleston' target="_blank"><img src='/static/images/facebook_icon.png'/></a></li>
                      <li><a href='https://twitter.com/heddle317' target="_blank"><img src='/static/images/twitter_icon.png'/></a></li>
                      <li><a href='http://www.linkedin.com/in/kateheddleston' target="_blank"><img src='/static/images/linkedin_icon.png'/></a></li>
                      <li><a href='https://github.com/heddle317' target="_blank"><img src='/static/images/github_icon.png'/></a></li>
                  </ul>
                </div>
            </div><!-- /.navbar-collapse -->
        </nav>
        <div class='container-fluid main-content'>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class='flashes'>
                    {% for category, message in messages %}
                        <div class='alert alert-{{category}}'>{{ message }}</div>
                    {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
            <div id="popup">
                {% block popup %}{% endblock %}
            </div>
        </div>
        <div id="push">
        </div>
        {% assets "base_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% block script %}
        {% endblock %}
    </body>
</html>
