{% extends "base.html" %}
{% import "blog_item.html" as blog_item with context %}
{% block head %}
  <link href="/blog/feed.atom" rel="alternate" title="Recent Posts" type="application/atom+xml">

  {% assets "tiles_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}
{% block content %}
    {% include "subscription.html" %}
    <div class='loading main-loader'>
        <img src="{{g.images_base}}/images/loading.gif" />
    </div>
    <div id='container' class="js-masonry" style='display:none'>
        {% for post in posts %}
            {{ blog_item.show(post.uuid, post.cover_photo_url, post.name, post.url_title, post.published_ago, loop.index) }}
        {% endfor %}
    </div>
{% endblock %}
{% block script %}
  {% assets "blog_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  {% assets "subscription_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
    <script type='text/javascript'>
        // or with jQuery
        var $container = $('#container');
        $container.imagesLoaded().progress( function( imgLoad, image ) {
            $('.loading.main-loader').hide();
            $container.show();
            $container.masonry({
                columnWidth: 125,
                itemSelector: ".item",
                gutter: 10,
                isFitWidth: true,
                transitionDuration: 0
            });
        });
    </script>
{% endblock %}
