{% extends "base.html" %}
{% block content %}
    <div class='blog_page'>
        <div class='links'>
          <div class='prev-link'>
            {% if blog_post.prev_uuid %}
              <a href="/blog/{{blog_post.prev_uuid}}">&larr;Prev Post</a>
            {% endif %}
          </div>
          <div class='next-link'>
            {% if blog_post.next_uuid %}
              <a href="/blog/{{blog_post.next_uuid}}">Next Post&rarr;</a>
            {% endif %}
          </div>
        </div>
        <div class='header'>
            <h2>{{blog_post.title}}</h2>
            <div class='date'>
                <i class='fa fa-clock-o'></i>
                <span>{{blog_post.created_ago}}</span>
            </div>
        </div>
        <div class='body'>
            <p>
            {{blog_post.body|safe}}
            </p>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        $('#kateheddleston-wrap').css('background-image', 'url("'+'{{blog_post.image_link}}'+'")');
        $('#kateheddleston-wrap').css('background-size', '100%');
        $('#kateheddleston-wrap').css('background-repeat', 'no-repeat');
    </script>
{% endblock %}
