{% macro show(uuid, image, title, blog_title, published, index) %}
    {% set width_class = 'w4' %}
    <div class='item {{width_class}}'>
        {% if blog_title %}
        <a class='blog_item_link' href="/blog/{{blog_title}}">
        {% else %}
        <a class='blog_item_link' href="/blog/{{uuid}}">
        {% endif %}
            <div class='blog_item {{width_class}}'>
                {% if g.is_mobile %}
                  <img src="{{image}}_small" />
                {% else %}
                  <img src="{{image}}_medium" />
                {% endif %}
                <div class='blog_item_footer'>
                    <div class='info caption footer-title'>
                        <h4>{{title}}</h4>
                    </div>
                    <div class='info-icons'>
                        <div class='row'>
                            <div class='col-md-6 date'>
                                <i class='fa fa-clock-o'></i>
                                <span>{{published}}</span>
                            </div>
                            <div class='col-md-6'>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
{% endmacro %}
