{% extends "base.html" %}
{% import "blog_item.html" as blog_item with context %}
{% block head %}
  {% assets "tiles_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}
{% block content %}
    <div id='container' class="js-masonry">
        {% for post in posts %}
            {{ blog_item.show(post.uuid, post.cover_photo, post.name, post.published_ago, loop.index) }}
        {% endfor %}
    </div>
{% endblock %}
{% block script %}
    <script type='text/javascript'>
        // or with jQuery
        var $container = $('#container');
        $container.hide();
        $container.imagesLoaded().progress( function( imgLoad, image ) {
            $container.show();
            $container.masonry({
                columnWidth: 100,
                itemSelector: ".item",
                gutter: 10,
                isFitWidth: true,
                transitionDuration: 0
            });
        });
    </script>
{% endblock %}
