<div id='comments' class='container-fluid' ng-controller='CommentController' ng-cloak class="ng-cloak">
  <div class='row text-center twitter-header'>
    <div class='col-md-6 col-sm-12'>
      <h2><span ng-bind='numComments'></span> Comments</h2>
    </div>
    <div class='col-md-6 col-sm-12'>
      <div class='comment-box'>
        <a href="https://twitter.com/share" class="twitter-share-button" data-text=" " data-size="large" data-count="none">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <div class='text'> a comment.
        </div>
      </div>
    </div>
  </div>
  <div class='tweets'>
    <ul class="row" ng-repeat='row in rows()'>
        <li class='tweet col-lg-3 col-md-6 col-sm-6 col-xs-12 tweet-height {[{comment.source}]}' ng-repeat='comment in getRowComments(row)'>
            <div class='top'>
                <img ng-src='{[{comment.profile_image}]}' />
                <div class='name'>
                    <div ng-if='comment.source == "twitter"' class='author' ng-bind="comment.name"></div>
                    <a class='screen-name' target="_blank" href="{[{comment.user_url}]}"><span ng-if='comment.source == "twitter"'>@</span><span ng-bind='comment.screen_name'></span></a>
                </div>
                <div class='external-link pull-right'>
                    <a href="{[{comment.link}]}" target="_blank">
                        <img class='network-logo' ng-if='comment.source == "twitter"' src="{{g.images_base}}/images/twitter_logo_blue.png" />
                        <img class='network-logo' ng-if='comment.source == "facebook"' src="{{g.images_base}}/images/FB_logo.png" />
                    </a>
                </div>
            </div>
            <div class='text'>
                <span ng-bind-html='comment.text'></span>
            </div>
            <div class='created-at pull-left'>
                <span ng-bind='comment.created_at'></span>
            </div>
        </li>
    </ul>
  </div>
</div>
