<div id='comments' class='container-fluid' ng-controller='CommentCtrl'>
  <div class='row text-center twitter-header'>
    <div class='col-md-6 col-sm-12'>
      <h2><span ng-bind='numComments'></span> Comments</h2>
    </div>
    <div class='col-md-6 col-sm-12'>
      <div class='comment-box'>
        <a href="https://twitter.com/share" class="twitter-share-button" data-text=" " data-size="large" data-count="none">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <div class='text'> a comment.
          <a href="" id='comment-tooltip' data-trigger='hover' data-toggle="popover" data-placement='top' title="Why do I use Twitter for comments?" data-content="{[{tooltipContent}]}"><i class='fa fa-question-circle deep-pink'></i></a>
        </div>
      </div>
    </div>
  </div>
  <ul class='tweets row'>
    <li class='tweet col-lg-4 col-md-6 col-sm-6 col-xs-12' ng-repeat='comment in comments'>
      <div class='top'>
        <img ng-src='{[{comment.user.profile_image_url_https}]}' />
        <div class='name'>
          <span class='author' ng-bind="comment.author.name"></span>
          <br>
          <a class='screen-name' target="_blank" href="https://www.twitter.com/{[{comment.author.screen_name}]}">@<span ng-bind='comment.author.screen_name'></span></a>
        </div>
      </div>
      <div class='text'>
        <span ng-bind-html='comment.text'></span>
      </div>
      <div class='created-at pull-left'>
        <span ng-bind='comment.created_at'></span>
      </div>
      <div class='external-link pull-right'>
        <a href="{[{comment.link}]}" target="_blank"><i class='fa fa-external-link'></i></a>
      </div>
    </li>
  </ul>
</div>
