{% extends "base.html" %}
{% block head %}
  {% assets "post_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
  {% assets "contact_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}
{% block content %}
<div class='gallery-item' ng-controller='PostController'>
    <div class='gallery-content contact-page'>

        {% include "contact_custom.html" %}

        {% include "post_sections.html" %}

    </div>

    {% include "left_nav.html" %}

</div>
{% endblock %}
{% block script %}
  {% assets "contact_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  {% assets "post_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  <script>
    var galleryUUID = '{{gallery_uuid}}';
  </script>
{% endblock %}
