{% extends "base.html" %}
{% block head %}
    <title>{{gallery.name}}</title>
    <meta name="twitter:title" content="{{gallery.name}}" />
    <meta name="og:title" content="{{gallery.name}}" />
    <meta name="twitter:description" content="{{gallery.description}}" />
    <meta name="og:description" content="{{gallery.description}}" />
    <meta name="twitter:image" content="{{gallery.cover_photo_url}}_small" />
    <meta name="og:image" content="{{gallery.cover_photo_url}}_small"/>
    <meta name="twitter:url" content="{{g.app_base_link}}/contact" />
    <meta name="og:url" content="{{g.app_base_link}}/contact" />
    {% assets "contact_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}

    {% assets "post_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
    {% assets "social_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}
{% block content %}
<div class='gallery-item' ng-controller='PostController'>
    <div class='gallery-content'>
        <div class='contact-page'>
            <div class='post-section title-section' ng-controller='SocialController'>
                <h2>Tweet at me</h2>
                <a ng-click="openPopup('https://twitter.com/intent/tweet?screen_name=heddle317', 'twitter')" class="twitter share-button" style='width:280px'>
                    <img class='icon' src='{{g.images_base}}/images/twitter_icon_white.png' />
                    <span class='label'>Tweet to @heddle317</span>
                </a>
            </div>

            <div class='post-section title-section' ng-controller='ContactController'>
                <h2 class='text-center' style='margin-bottom:50px;'>
                    Email Me
                </h2>
                <div class='alert' role='alert'>
                    <button type="button" class="close" ng-click="toggleAlert(false, '', '')"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <span class='message'></span>
                </div>
                <form role='form' ng-submit='sendEmail()'>
                    <div>
                    <input class='form-control' type='email' ng-model='fromEmail' placeholder='Your Email Address' />
                    <input class='form-control' type='text' ng-model='subject' placeholder='Subject' />
                    <textarea class='form-control' ng-model='body' placeholder='Message'></textarea>
                    <button class='btn btn-default pull-right'>Send Message</button>
                    </div>
                </form>
            </div>
        </div>

        {% include "post_sections.html" %}
    </div>
</div>
{% endblock %}
{% block script %}
    <script>
        var galleryUUID = '{{gallery_uuid}}';
    </script>
    {% assets "social_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "contact_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "post_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
