{% extends "admin_base.html" %}
{% block content %}
    <div ng-controller='GalleriesCtrl'>
        <div class='row'>
            <form class='col-md-6 center'>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name" ng-model='newName'>
                </div>
                <div class='gallery-items'>
                  <div class='new-items' ng-repeat='item in newItems'>
                    <div class="form-group">
                        <label>Title</label>
                        <input type='text' class='form-control' name='title' ng-model='item.title'>
                    </div>
                    <div class="form-group">
                        <label>Body</label>
                        <textarea rows=4 class='form-control' name='body' ng-model='item.body'></textarea>
                    </div>
                    <div class="form-group">
                        <label>Image Link</label>
                        <input type="text" class="form-control" name="image" ng-model='item.image_link'>
                    </div>
                  </div>
                  <button ng-click='addNew()' class='btn btn-success'>Add Item</button>
                </div>
                <button type="submit" ng-click='createGallery()' class="btn btn-default pull-right">Create Gallery</button>
            </form>
        </div>

        <div class='row edit_panel' ng-repeat='gallery in galleries' ng-controller='GalleryCtrl' ng-init='init(gallery)'>
            <div class='panel' ng-class='published ? "panel-success" : "panel-default"'>
                <div class="panel-heading">
                    <h3 class="panel-title" ng-bind='name'></h3>
                </div>
                <div class='panel-body'>
                    <div class='item row' ng-repeat='item in gallery.items'>
                        <div class='gallery_item col-md-6'>
                          <div class='info caption'>
                            <h4 ng-show='!editing' ng-bind='item.title'></h4>
                            <input type='text' class='form-control' name='title' ng-model='item.title' ng-show='editing'/>
                          </div>
                          <img ng-src="{[{item.image_link}]}" />
                          <input type="text" class="form-control" name="image" ng-show='editing' ng-model='item.image_link'>
                        </div>
                        <div class='col-md-6'>
                            <p ng-show='!editing' ng-bind-html='item.body'></p>
                            <textarea rows=6 class='form-control' name='body' ng-show='editing' ng-model='item.body'></textarea>
                        </div>
                        <button ng-click='addNewItem()' class='btn btn-success'>Add Item</button>
                    </div>
                </div>
                <div class='panel-footer text-right'>
                    <button class='btn btn-default' ng-show='!editing' ng-click='editGallery()'>Edit</button>
                    <button class='btn btn-success' ng-show='editing' ng-click='updateGallery()'>Save</button>
                    <button class='btn btn-default' ng-show='editing' ng-click='cancel()'>Cancel</button>
                    <button class='btn btn-default' ng-show='!published && !editing' ng-click='publishGallery()'>Publish</button>
                    <button class='btn btn-default' ng-show='published && !editing' ng-click='unpublishGallery()'>Unpublish</button>
                    <button class='btn btn-danger' ng-click='deleteGallery()'>Delete</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
