{% extends "admin_base.html" %}
{% import "blog_item.html" as blog_item with context %}
{% block content %}
    <div ng-controller='BlogsCtrl'>
        <div class='row'>
            <form class='col-md-6 center' ng-submit='createBlog()'>
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" name="title" ng-model='title'>
                </div>
                <div class="form-group">
                    <label>Body</label>
                    <textarea rows=4 class='form-control' name='body' ng-model='body'></textarea>
                </div>
                <div class="form-group">
                    <label>Image Link</label>
                    <input type="text" class="form-control" name="image" ng-model='imageLink'>
                </div>
                <button type="submit" class="btn btn-default">Create Blog</button>
            </form>
        </div>

        <div class='row edit_panel' ng-repeat='blog in blogs'>
            <div class='panel panel-default'>
                <div class="panel-heading">
                    <h3 class="panel-title" ng-bind='blog.title'></h3>
                </div>
                <div class='panel-body'>
                    <div class='col-md-4'>
                        {{ blog_item.show("{[{blog.uuid}]}", "{[{blog.image_link}]}", "{[{blog.title}]}", "{[{blog.created_at}]}") }}
                    </div>
                    <div class='col-md-8'>
                        <p>{[{trustHTML(blog.body)}]}</p>
                    </div>
                </div>
                <div class='panel-footer text-right'>
                    <button class='btn btn-default'>Edit</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
