{% extends "admin_base.html" %}
{% block content %}
    <form class='form-inline' action='login' method="POST">
        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
        <div class="form-group">
            <input class='form-control' placeholder="Email" type='email' name='email' />
        </div>
        <div class="form-group">
            <input class='form-control' placeholder='Password' type='password' name='password' />
        </div>
        <button type="submit" class="btn btn-default">Login</button>
    </form>
{% endblock %}
