<div class='post_footer'>
        <div class='links text-center'>
            {% if g.user.is_authenticated() %}
            <div class='link col-lg-1 col-md-2 col-sm-3 col-xs-3 pull-left border-right'>
                <a href="/admin/gallery/{{gallery.uuid}}">Edit</a>
            </div>
            {% endif %}
            <div class='prev-link link col-lg-1 col-md-2 col-sm-3 col-xs-4 pull-right border-left'>
                <a ng-if='gallery.next && gallery.next.url_title' href="/blog/{[{ gallery.next.url_title }]}">Read Next</a>
                <a ng-if='gallery.next && !gallery.next.url_title' href="/blog/{[{ gallery.next.uuid }]}">Read Next</a>
            </div>
            <div class='next-link link col-lg-1 col-md-2 col-sm-3 col-xs-4 pull-right border-left'>
                <a ng-if='gallery.prev && gallery.prev.url_title' href="/blog/{[{ gallery.prev.url_title }]}">Read Prev</a>
                <a ng-if='gallery.prev && !gallery.prev.url_title' href="/blog/{[{ gallery.prev.uuid }]}">Read Prev</a>
            </div>
        </div>
</div>
