{% extends "base.html" %}
{% import "top_navbar.html" as navbar with context %}
{% import "bottom_icon.html" as icon with context %}
{% block head %}
  {% assets "comment_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
  {% assets "post_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
  {% assets "header_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}
{% block content %}
<div class='gallery-item' ng-controller='GalleryCtrl' ng-init='init({{post_json|safe}})'>
  {{ navbar.show(post.prev_uuid, post.next_uuid, 'blog') }}
  <div id='fullpage' class='gallery-content'>
    <div class='section name text-center'>
      <h1 class='deep-pink' ng-bind='name'></h1>
      <h5 ng-bind='author'></h5>
    </div>
    <span ng-repeat='item in items'>
      <div class='section title' ng-if='item.title' data-anchor='item{[{item.position}]}' position='{[{item.position}]}'>
        <h4 ng-bind='item.title'>
        </h4>
      </div>
      <div class='section' ng-if='item.image_link'>
        <img ng-src="{[{item.image_link}]}" />
      </div>
      <div class='section body' ng-if='item.body'>
        <p ng-bind-html='item.body'>
        </p>
      </div>
    </span>
  </div>
  {% include "left_nav.html" %}
</div>
{% include "comments.html" %}
{% endblock %}
{% block script %}
  {% assets "comment_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  {% assets "post_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}
