<div ng-repeat='item in gallery.items' class='post-item'>
  <div id='item{[{item.position}]}' class='title-section post-section deep-pink' ng-if='item.title' data-anchor='item{[{item.position}]}' position='{[{item.position}]}'>
    <h2 ng-bind='item.title'></h2>
  </div>
  <div class='image-section post-section' ng-if='item.image_name'>
      {% if g.is_mobile %}
        <img ng-src="{[{gallery.base_url}]}/{[{item.image_name}]}_small" />
      {% else %}
        <img ng-src="{[{gallery.base_url}]}/{[{item.image_name}]}_large" />
      {% endif %}
      <small><em class='image-caption' ng-if='item.image_caption' ng-bind='item.image_caption'></em></small>
  </div>
  <div class='body-section post-section' ng-if='item.body'>
    <p ng-bind-html='item.body'>
    </p>
  </div>
</div>
