<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% for item in gallery_items %}
<div class="post-item">
  {% if item.title %}
  <div id="item{{item.position}}" class="title-section post-section deep-pink" data-anchor="item{{item.position}}" position="{{item.position}}">
    <h2>{{item.title}}</h2>
  </div>
  {% endif %}
  {% if item.image_name %}
  <div class="image-section post-section">
      {% if g.is_mobile %}
        <img src="{{g.images_base}}/images/empty.png" id="{{item.image_name}}" alt="{{item.image_alt}}" title="{{item.image_alt}}" size="small" />
      {% else %}
        <img src="{{g.images_base}}/images/empty.png" id="{{item.image_name}}" alt="{{item.image_alt}}" title="{{item.image_alt}}" size="large" />
      {% endif %}
      {% if item.image_caption %}
          <small><em class="image-caption">{{item.image_caption}}</em></small>
      {% endif %}
  </div>
  {% endif %}
  {% if item.body %}
  <div class="body-section post-section">
    <p>{{item.body | safe}}
    </p>
  </div>
  {% endif %}
</div>
{% endfor %}
