<div ng-repeat='item in items'>
    <div id='item{[{item.position}]}' class='title-section post-section' ng-if='item.title' data-anchor='item{[{item.position}]}' position='{[{item.position}]}'>
    <h3 ng-bind='item.title'></h3>
  </div>
  <div class='image-section post-section' ng-if='item.image_name'>
      <img ng-src="{{g.images_base}}/galleries/{[{item.gallery_uuid}]}/{[{item.image_name}]}" />
  </div>
  <div class='body-section post-section' ng-if='item.body'>
    <p ng-bind-html='item.body'>
    </p>
  </div>
</div>
