<div ng-controller='SubscriptionController' ng-cloak class="ng-cloak">
    <div id='subscribe' class='modal fade text-left'>
      <div class="modal-dialog">
        <div class="modal-content">
          <form ng-show='!success'>
            <div class='modal-body' ng-show='!loading'>
                <div class='alert alert-warning' role='alert' ng-show='error'>
                    <span class='message' ng-bind='message'></span>
                </div>
              <div class="form-group">
                  <input type="text" class="form-control" name="name" ng-model='name' placeholder='Name'>
                  <input type="text" class="form-control margin-top-10" name="email" ng-model='email' placeholder='Email'>
              </div>
              <a href='{{g.app_base_link}}/blog/feed.atom' target='_blank'>RSS Feed</a>
            </div>
            <div class='loading modal-loader' ng-show='loading'>
                <img src="{{g.images_base}}/images/loading.gif" />
            </div>
            <div class='modal-footer'>
              <button class="btn btn-default" ng-click='close()'>Cancel</button>
              <button ng-click='subscribe()' class="btn btn-success">Subscribe</button>
            </div>
          </form>
          <div ng-show='success && !loading'>
              <div class='modal-body'>
                  <p>
                    <span class='message' ng-bind-html='message'></span>
                  </p>
              </div>
              <div class='modal-footer'>
                <button class="btn btn-default" ng-click='close()'>Done</button>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class='page-btn'>
      <a data-target='#subscribe' data-toggle='modal' class='pink-btn'>Subscribe</a>
    </div>
</div>
