{% extends "base.html" %}
{% block content %}
<div class='row'>
    {% for talk in talks %}
    <div class='col-lg-4 col-md-4 col-sm-12'>
        <a href="/talks/{{talk.uuid}}">
            <div class='talk_item thumbnail'>
                <img src="{{talk.image_link}}" />
                <div class='info caption'>
                    <p><small class='subheader'>{{talk.date}} - {{talk.location}}</small></p>
                    <h3>{{ talk.title }}</h3>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}
