{% extends "base.html" %}
{% import "talk_item.html" as talk_item with context %}
{% block head %}
  {% assets "tiles_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}
{% block content %}
    {% include "subscription.html" %}
    <div class='loading main-loader'>
        <img src="{{g.images_base}}/images/loading.gif" />
    </div>
    <div id='container' class="js-masonry" style='display:none'>
        {% for talk in talks %}
            {% set image_link = talk.base_url + "/" + talk.image_name %}
            {{ talk_item.show(talk.uuid, image_link, talk.title, talk.date, loop.index) }}
        {% endfor %}
    </div>
{% endblock %}
{% block script %}
  {% assets "blog_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  {% assets "subscription_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
    <script type='text/javascript'>
        // or with jQuery
        var $container = $('#container');
        $container.imagesLoaded().progress( function( imgLoad, image ) {
            $('.loading.main-loader').hide();
            $container.show();
            $container.masonry({
                columnWidth: 125,
                itemSelector: ".item",
                gutter: 10,
                isFitWidth: true,
                transitionDuration: 0
            });
        });
    </script>
{% endblock %}
