{% macro show(uuid, image, title, published) %}
    <div class='item w3'>
        <a class='blog_item_link' href="/talk/{{uuid}}">
            <div class='blog_item w3'>
                <img src="{{image}}" />
                <div class='info caption'>
                    <h4>{{title}}</h4>
                </div>
                <div class='footer'>
                    <div class='row'>
                        <div class='col-md-6 date'>
                            <i class='fa fa-clock-o'></i>
                            <span>{{published}}</span>
                        </div>
                        <div class='col-md-6'>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
{% endmacro %}
