{% extends "base.html" %}
{% block content %}
<div class='row'>
    <div class='col-md-6 center'>
        <h2>{{talk.title}}</h2>
        <div class='row'>
            <div class='col-md-4'>
                <p><small class='subheader'>{{talk.date}} - {{talk.location}}</small></p>
            </div>
            <div class='col-md-3'>
                <a target="_blank" href="{{talk.description_link}}">Talk Description</a>
            </div>
            <div class='col-md-1'>
                <a target="_blank" href='{{talk.slides_link}}'>Slides</a>
            </div>
        </div>
        {{ talk.video_link|safe }}
        <p class='lead custom-gray'>
            {{talk.description}}
        </p>
    </div>
</div>

{% endblock %}
