{% extends "base.html" %}
{% block content %}
    <div class='talk_page'>
        <div class='links'>
          <div class='prev-link'>
            {% if talk.prev_uuid %}
              <a href="/talk/{{talk.prev_uuid}}">&larr;Prev Talk</a>
            {% endif %}
          </div>
          <div class='next-link'>
            {% if talk.next_uuid %}
              <a href="/talk/{{talk.next_uuid}}">Next Talk&rarr;</a>
            {% endif %}
          </div>
        </div>
        <div class='talk_video flex-video widescreen'>
          {{ talk.video_link|safe }}
        </div>
        <div class='header'>
            <h2>{{talk.title}}</h2>
            <div class='icons'>
              <i class='fa fa-clock-o'>{{talk.date}}</i>
              <i class='fa fa-map-marker'>{{talk.location}}</i>
              <a target="_blank" href="{{talk.description_link}}"><i class='fa fa-external-link'>Talk Description</i></a>
              <a target="_blank" href='{{talk.slides_link}}'><i class='fa fa-external-link'>Slides</i></a>
            </div>
        </div>
        <div class='body'>
            <p>
            {{talk.description|safe}}
            </p>
        </div>
    </div>
{% endblock %}
