<p>
    Hi {{user_name}}, 
    <br>
    Thanks for subscribing to my blog! Click below to verify your email address and receive notifications when there are new posts. 
    <br>
    <br>
    -Kate
    <br>
    <br>
</p>
<table style='margin:0 auto;max-width:640px;color:#353435;font-size:14px;line-height:1.42857143;font-family:"Raleway",sans-serif;'>
    <tr>
        <td style='text-align:center'>
            <a style='display:inline-block;color:#ffffff;padding:10px 15px;font-size:18px;cursor:pointer;text-transformation:none;text-decoration:none;background-color:#cd1076;line-height:24px;' href='{{ verify_url }}'>Verify Email Address</a>
        </td>
    </tr>
    <tr>
        <td style='text-align:center'>
            <p style='text-align:center;margin-top:30px'>
            {{verify_url}}
            </p>
        </td>
    </tr>
</table>
